@import '../variables.scss';

.tab {
	@include centering;
	// width: 6.8rem;
	// height: 3.6rem;
	width: 80px;
	height: 100px;

	font-size: 1.4rem;
	border-radius: 0.8rem;
	// box-shadow: $shadow;
	color: $greyDark;
	cursor: pointer;
	transition: all 0.5s ease;
	padding: 6px;

	&-active {
		color: $primary;
		box-shadow: $inner-shadow;
	}

	&:hover {
		color: $primary;
	}
}

.segmented-control {
	box-shadow: $shadow;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	position: relative;

	input {
		display: none;
	}

	> input:checked + label {
		transition: all 0.5s ease;
		color: $primary;
	}

	&__1,
	&__2,
	&__3 {
		width: 6.8rem;
		height: 3.6rem;
		font-size: 1.4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		color: $greyDark;
		transition: all 0.5s ease;

		&:hover {
			color: $primary;
		}
	}

	&__color {
		position: absolute;
		height: 3.4rem;
		width: 6.2rem;
		margin-left: 0.3rem;
		border-radius: 0.8rem;
		box-shadow: $inner-shadow;
		pointer-events: none;
	}
}

#tab-1:checked ~ .segmented-control__color {
	transform: translateX(0);
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-2:checked ~ .segmented-control__color {
	transform: translateX(6.8rem);
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-3:checked ~ .segmented-control__color {
	transform: translateX(13.6rem);
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
