.roundsTable {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100vw;
}

.round {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border: 1px solid rgb(119, 119, 119);
	background-color: rgb(209, 191, 32);
	height: 120px;
}

.afterRounds {
	opacity: 0.4;
}
