@import '../variables.scss';

.tabsContainer {
	// width: 20.4rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	// overflow: hidden;
	box-shadow: $shadow;
	flex-wrap: wrap;

	padding: 4px;
	border-radius: 1rem;
	background-color: $greyLight-1;
	// height: 100px;
}
